header h1{
    text-align: center;
    
}
#main{
    overflow-x: scroll;
    

}
#p1{
    overflow-wrap: normal;
    width: 250px;
    position: absolute;
    top: 150px;
    left: 35px;
}
#pic1{
    position: absolute;
    top: 70px;
    left: 150px;
    width: 300px;
}
#p2{
    overflow-wrap: normal;
    width: 250px;
    position: absolute;
    top: 500px;
    left: 400px;
}
