header h1{
    text-align: center;
    
}
main{
    overflow-y: scroll;
    height: max-content;
}
#p1{
    overflow-wrap: normal;
    width: 200px;
    position: absolute;
    top: 150px;
    left: 35px;
}
#pic1{
    position: absolute;
    top: 70px;
    left: 150px;
    width: 250px;
}
#p2{
    overflow-wrap: normal;
    width: 200px;
    position: absolute;
    top: 500px;
    left: 400px;
}
